/*
    EJERCICIO 6: APARTADO 5
    ERICK CHANGO
    DICIEMBRE 2020
*/
*{
    margin: 0px;
    box-sizing: border-box;
}
html{
    background-color: #dedbdb;
}
header{
    text-align: center;
    padding: 20px;
}
h2{
    background-color: gray;
    color: white;
    width: 90%;
    margin: auto;
    margin-top: 20px
}
.html5 {
    display: flex;
    grid-gap: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    
}

.css3 {
    display: flex;
    grid-gap: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}
css3 img {
    margin-left: 70px;
}

