/*
    EJERCICIO 6: APARTADO 9
    ERICK CHANGO
    DICIEMBRE 2020
*/
*{
    margin: 0px;
    box-sizing: border-box;
}
header{
    border: 4px dashed #4747ea;
    border-radius: 15px;
    text-align: center;
    font-family: fantasy;
    color: #4747ea;
    width: 60%;
    margin: auto;
    padding: 10px;
}
table{
    border: 4px solid #4747ea;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
table td, table th{
    border: 1px solid #d3d3d3;
}
#ln{
    background-color: #f4f4f4;
}
img{
    width: 150px;
}